@import "../../app.css";

.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
  padding: 0;

  &__label {
    @mixin Small-text;

    color: $cool-dark;
  }

  &__input {
    @mixin Ordinary-text;

    height: 35px;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: solid 2px $cool-dark;
    background: none;
    transition: all 0.1s ease-in-out;

    &:focus {
      transition: all 0.2s ease-in-out;
      border-width: 4px;
    }
  }

  &__error {
    @mixin Hint-text;

    color: $error-color;
    display: none;
  }

  .invalid &__input {
    border-color: $error-color;
  }

  .invalid &__error {
    display: block;
  }
}
