{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "dist/**/*.css"
  ],
  "rules": {
    "declaration-block-no-duplicate-properties": [
      true,
      {
        "ignore": [
          "consecutive-duplicates-with-different-values"
        ]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "mixin",
          "define-mixin"
        ]
      }
    ],
    "font-family-no-missing-generic-family-keyword": null,
    "selector-class-pattern": null
  }
}