---
title: "Sign in"
css:
- auth/auth.css
- partials/formInput.css
- partials/formButton.css
---

{{!< auth/authTemplate }} 

<form id="signin" action="" class="container__form">
  {{> formInput id="login" name="login" title="Username" type="text"}}
  {{> formInput id="password" name="password" title="Password" type="password"}}
</form>

<div class="container__form">
  {{> formButton id="submit" form="signin" type="submit" class="container__button" innerText=this.title}}
  <a href="{{routes.pages.signUp.href}}" class="container__link">Sign up</a>
</div>
