@import "../../../../app.css";

.settingsItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  &__inputGroup {
    width: 100%;
    height: 35px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    border: none;
    border-bottom: solid 2px $hint-grey;
    transition: all 0.1s ease-in-out;

    &:focus-within {
      transition: all 0.2s ease-in-out;
      border-width: 4px;
    }
  }

  &__title {
    @mixin Medium-bold-text;

    color: $cool-dark;
    width: 100%;
  }

  &__input {
    width: 100%;
    border: none;
    text-align: right;

    &:focus {
      border: 0;
      outline: 0;
    }
  }

  &__error {
    @mixin Hint-text;

    color: $error-color;
    display: none;
  }

  .invalid &__inputGroup {
    border-color: $error-color;
  }

  .invalid &__error {
    display: block;
  }
}
