@import "../../app.css";

.app-container {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

.side-menu {
  width: 450px;
  height: 100%;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  padding: 0;
  background-color: $light-blue;

  &__panel {
    height: 50px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  &__list {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    padding: 10px 0;
  }
}

.empty {
  align-self: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;

  @mixin Bold-ordinary-text;

  color: $action-color;
}

.main {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  padding: 0;

  &__panel {
    height: 50px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $action-color;
    box-sizing: border-box;
    position: relative;

    .panel__left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      padding: 0;
    }

    .panel__icon {
      width: 36px;
      height: 36px;
      flex-grow: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 22px;
      background-color: #fff;
      box-sizing: border-box;
    }

    .panel__user-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;

      .user-info__username {
        @mixin Medium-bold-text;

        color: white;
      }

      .user-info__last-online {
        @mixin Small-text;

        color: white;
      }
    }
  }

  &__msgs {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 0 10px;
    overflow: auto;
  }

  &__edit-msg {
    /* height: 70px; */
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;

    a {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .edit-msg__button {
    @mixin Bold-ordinary-text;

    color: white;
    white-space: nowrap;
    width: 195px;
    height: 50px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $action-color;
    box-sizing: border-box;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
