<div class="message {{#unless (eq author 0)}}left-align{{/unless}}">
  <div class="message__container">
    <span class="message__text">
      {{text}}
    </span>
    <span class="message__time">
      {{time}}
    </span>
  </div>
</div>