---
title: "Change password"
css:
- settings/settings.css
- partials/settingsItem.css
---

{{!< settings/settingsTemplate }} 
<form id="settings" class="main-area__list">
  {{> settings/settingsItem name="old_password" title="Old password" type="password" value="12345678"}}
  {{> settings/settingsItem name="new_password" title="New password" type="password" value="1234567812345678"}}
  {{> settings/settingsItem name="confirm_password" title="Confirm password" type="password" value="1234567812345678"}}
</form>
{{> formButton id="settings" form="settings" class="main-area__submit" type="submit" innerText="Save changes"}}
  