---
title: "Change profile data"
css:
- settings/settings.css
- partials/settingsItem.css
---

{{!< settings/settingsTemplate }} 
<form id="settings" class="main-area__list">
  {{> settingsItem name="first_name" title="First name" value=user.first_name}}
  {{> settingsItem name="second_name" title="Second name" value=user.second_name}}
  {{> settingsItem name="display_name" title="Display name" value=user.display_name}}
  {{> settingsItem name="login" title="Login" value=user.login}}
  {{> settingsItem name="email" title="Email" value=user.email}}
  {{> settingsItem name="phone" title="Phone" value=user.phone}}
</form>
{{> formButton id="settings" form="settings" class="main-area__submit" type="submit" value="Save changes"}}
  