@import "../../../../app.css";

.chatItem {
  height: 75px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #1000ff14;
    transition: all 0.1s ease-in-out;
  }

  &__icon {
    min-width: 55px;
    min-height: 55px;
    flex-grow: 0;
    background-color: white;
    border-radius: 55px;
  }

  &__textGroup {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 5px;
    padding: 0;
    max-width: 290px;

    .textGroup__username {
      @mixin Medium-bold-text;

      color: $cool-grey;
    }

    .textGroup__lastMsg {
      @mixin Small-text;

      color: $cool-grey;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__msgInfoGroup {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 13px;
    padding: 0;
    min-width: 60px;

    .msgInfoGroup__lastOnline {
      @mixin Small-text;

      color: $cool-grey;
    }

    .msgInfoGroup__unreadMsg {
      @mixin Bold-ordinary-text;

      font-size: 12px;
      color: white;
      width: 24px;
      height: 24px;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      border-radius: 24px;
      background-color: $action-color;
    }
  }
}

.chatItem.checked {
  cursor: pointer;
  background-color: #1000ff14;
  transition: all 0.1s ease-in-out;
}
