<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messenger</title>
  <link rel="stylesheet" href="../src/styles/home/index.css" />
  <script src="../src/index.js" type="module"></script>
</head>

<body>
  <div class="routes">
    <span class="routes__title">
      Список страниц
    </span>
    {{#each routes.pages}}
    {{#unless (eq this.href '/')}}
    <a class="routes__link" href="{{this.href}}">{{this.title}}</a>
    {{/unless}}
    {{/each}}
  </div>
</body>

</html>