---
title: 404
css:
- error/error.css
---

{{!< error/errorTemplate }} 


<div class="message">
  <span class="message__title">
    404<br>
    Oops, wrong place!
  </span>
  <a href="{{routes.pages.home.href}}" class="message__link">
    Back to chats
  </a>
</div>