---
title: 500
css:
- error/error.css
---

{{!< error/errorTemplate }} 


<div class="message">
  <span class="message__title">
    500<br>
    We are already fixing it!
  </span>
  <a href="{{routes.pages.chat.href}}" class="message__link">
    Back to chats
  </a>
</div>